@model ML.Controllers.HomeController
@using ML.Logica;
@{
    ViewData["Title"] = "Buscar";
}
<h3 class="text-center mb-5">Bublear</h3>

<div class="container">
    <form action="/Home/Buscar" method="post">
        <div class="m-1">
            <input type="text" name="buscar" class="form-control form-control-lg" />
        </div>
        <div class="m-2 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary rounded-pill d-none">Enviar</button>
        </div>
    </form>
    <h3 class="text-center mt-3">@ViewBag.buscar</h3>
    <div class="m-1 mt-5 text-start ">
        @if (ViewBag.resultadoBusqueda != null)
        {
            @foreach (WikipediaResponse resultado in (List<WikipediaResponse>)ViewBag.resultadoBusqueda)
            {
                <h4><a href="https://es.wikipedia.org/wiki/@resultado.Title" target="_blank" class="adark">@resultado.Title</a></h4>
                <h5 id="resultado"> - @Html.Raw(resultado.Snippet)...</h5>
                <br>
            }
        }
    </div>
</div>