@{
    ViewData["Title"] = "Foto";
}
@model List<ML.Data.Entidades.Image>
<h3 class="text-center mb-5">Ingresar foto</h3>
<div class="container text-center">
    @using (Html.BeginForm("Foto", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        <span style="color:red;">@ViewBag.Message</span>
        <br />
        <input type="file" name="formFile" accept=".png,.jpg,image"/>
        <input type="submit" value="Submit" />
        <br />
        <br />
        @if (ViewBag.ImageURL != null)
        {
            <img src="~/images/@ViewBag.ImageURL" width="300px" height="200px" />
        }
    }

    <div class="m-1">
        Resultado: <input type="text" class="border-0" value="@ViewBag.resultadoFoto" readonly />
    </div>

    <div class="m-1">
        Resultado: <input type="text" class="border-0" value="@ViewBag.resultadoSQL" readonly />
    </div>

    @if (Model != null)
    {
        @foreach (var image in Model)
        {
            <img src="~/images/@image.Nombre" class="rounded" alt="...">
        }
    }
</div>