@model ML.Controllers.HomeController
@{
    ViewData["Title"] = "Frase";
}
<h3 class="text-center mb-5">Ingresar frase</h3>

<div class="container">
    <form action="/Home/Frase" method="post">
        <div class="m-1">
            <input type="text" asp-for="frase" class="form-control form-control-lg" />
        </div>
        <div class="m-2 d-flex justify-content-center">
            <button type="submit" class="btn btn-primary rounded-pill d-none">Enviar</button>
        </div>
    </form>

     @if (@ViewBag.dato != "")
    {
        <div class="m-1 mt-5 text-center ">
            <input id="valor" type="text" class="border-0 d-none" value="@ViewBag.dato" readonly/>
            <h4 id="resultado"></h4>
        </div>
    }
</div>

<script src="~/js/frase.js" asp-append-version="true"></script>