@model ML.Controllers.HomeController
@{
    ViewData["Title"] = "Frase";
}
<h3 class="text-center">Ingresar frase</h3>

<form action="/Home/Frase" method="post">
    <div class="m-1">
        Frase: <input type="text" asp-for="frase" class="form-control form-control-lg" />
        </div>
    <div class="m-1 d-flex justify-content-center">
        <button type="submit" class="btn btn-primary rounded-pill">Enviar</button>
    </div>
</form>

<div class="m-1">
    Resultado: <input type="text" class="border-0" value="@ViewBag.dato" readonly />
</div>