@{
    ViewData["Title"] = "Informacion";
}
<h3 class="text-center">Todo sobre Inteligencia Artificial</h3>

<div class="container">
    <div class="mt-2">
        <p>
            El término Inteligencia Artificial se utiliza a menudo para referirse a Machine Learning y a Deep Learning. En realidad, se refiere a la capacidad de una máquina para aprender conceptos de forma independiente, o sea, cuando un sistema informático es capaz de sacar conclusiones a partir de un conjunto de datos y no ejecutar un simple algoritmo.
            IA se refiere a sistemas o máquinas que imitan la inteligencia humana para realizar tareas y pueden mejorar iterativamente a partir de la información que recopilan.
        </p>
    </div>
    <div class="mt-2">
        <h5>¿Qué es el Machine Learning?</h5>
        <p>
            El machine learning es la ciencia de desarrollo de algoritmos y modelos estadísticos que utilizan los sistemas de computación con el fin de llevar a cabo tareas sin instrucciones explícitas, en vez de basarse en patrones e inferencias.
        </p>
    </div>
    <div class="mt-2">
        <h5>¿Qué es el Deep Learning?</h5>
        <p>El Deep Learning es el aprendizaje automático, en el que el ordenador es capaz de aprender por sí mismo.</p>
        <p>Deep Learning intentará comprender los conceptos con mayor precisión, analizando los datos a un alto nivel de abstracción. ¿Cómo? A través de la comprensión no lineal. Su funcionamiento es similar al del cerebro. En una red neuronal, se combinan capas sucesivas de datos para aprender los conceptos. Las redes más simples tienen sólo dos capas: una de entrada y otra de salida</p>
    </div>
</div>