@{
    ViewData["Title"] = "Home Page";
}

@using (Html.BeginForm("PruebaFoto", "Home", FormMethod.Post, new { @enctype = "multipart/form-data" }))

{

    <span style="font-weight:bold;">Upload File</span>
    <br />
    <span style="color:red;">@ViewBag.Message</span>
    <br />
    <input type="file" name="formFile" />
    <input type="submit" value="Submit" />
    <br />
    <br />
    @if (ViewBag.ImageURL != null)
    {
        <img src="~/@ViewBag.ImageURL" width="300px" height="200px" />
    }

}